@use "@/shared/styles/_colors.scss" as *;
@use "sass:color";

$border-radius: 10px;

.friend-chat {
  display: flex;
  flex-direction: column;
  height: 94vh;
  width: 100%;
  border-radius: $border-radius;
  gap: 5px;
}
