@use "@/shared/styles/_colors.scss" as *;
@use "sass:color";

.search {
  &__input {
    width: 100%;
    max-width: 300px;
    color: $font-color;

    &::placeholder {
      color: color.adjust($font-color, $lightness: -20%);
    }
  }
}
