@use "@/shared/styles/colors.scss" as *;
@use "sass:color";

.short-profile-container {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 290px;
  max-width: 290px;
  height: 90px;
  padding: 0% 1%;
  border-radius: 10px;
  background-color: color.adjust($background-color, $alpha: -0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    &-avatar-wrapper {
      position: relative;

      &__badge {
        position: absolute;
        bottom: 4px;
        right: 4px;
      }

      &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }

    &-name {
      cursor: pointer;
      user-select: none;

      &-tooltip {
        font-size: 0.85rem;
        font-weight: 600;
        color: $font-color;
        text-align: center;
        background: color.adjust($background-color, $alpha: -0.6);
        border-radius: 5px;
        padding: 10px;
      }
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    & span {
      font-size: 1.2rem;
      font-weight: 600;
      color: $font-color;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
    & > * {
      cursor: pointer;
      color: $font-color;
    }

    &-icon {
      min-width: 25px;

      &__danger {
        color: color.adjust($color-danger, $lightness: -20%);
      }
    }
  }
}
