@use "@/shared/styles/colors.scss" as *;
@use "sass:color";

.short-profile-container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 300px;
  height: 90px;
  padding: 0% 1%;
  border-radius: 10px;
  background-color: color.adjust($background-color, $alpha: -0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    & span {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
    & > * {
      cursor: pointer;
    }

    &-icon {
      min-width: 25px;

      &__danger {
        color: color.adjust($color-danger, $lightness: -30%);
      }
    }
  }
}