.profile-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
