@use "@/shared/styles/_colors.scss" as *;
@use "sass:color";

$radius: 10px;

.channel-chat {
  &__messages {
    flex: 1;
    overflow-y: auto;
    min-height: 82vh;
    max-height: 82vh;
    padding: 10px;
    background-color: $background-color;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &__date {
      text-align: center;
      font-size: 0.8rem;
      color: color.scale($font-color, $lightness: -25%);
      margin-bottom: 10px;
    }
  }
}

.loader {
  color: $font-color;
}
