@use "@/shared/styles/colors.scss" as *;
@use "sass:color";

.pdf-container {
  display: flex;

  &__icon {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 50px;
  }

  &__file-name {
    font-size: 0.7rem;
    font-weight: 300;
    color: $font-color;
    margin-left: 10px;
    align-self: center;
  }
}
