.main-page-container {
  display: grid;
  grid-template-rows: 1fr 25fr;
  height: 100vh;
  padding: 0.4% 0.5%;

  & > h1 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 6fr;

    &__side-bar {
      display: grid;
      grid-template-rows: 9fr 1fr;
      gap: 10px;
    }
  }
}
