@use "@/shared/styles/_colors.scss" as *;
@use "sass:color";

.context-menu-item__delete {
  color: $color-danger;
}

*::selection {
  background-color: $font-selection-color;
  color: $font-color;
}

.voice-toaster-test {
  background: $background-color !important;
  border: none !important;
  display: flex;
  box-shadow: 0 0 10px 0 color.adjust($color-danger, $alpha: -0.5) !important;
}

body {
  position: relative;
}
