.channel-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & img {
    width: 55px;
    height: 55px;
  }

  & h2 {
    font-weight: 600;
    font-size: 0.8rem;
    max-width: 70px;
    text-align: center;
  }

  &__hover-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
