@use "@/shared/styles/colors.scss" as *;
@use "sass:color";

.audio-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;

  & span {
    color: color.adjust($font-color, $lightness: -30%);
    font-size: 0.9rem;
    font-weight: 300;
  }

  &__pause-button {
    background-color: color.adjust($font-color, $lightness: -20%);
    color: $background-color;
  }
}
