@use "@/shared/styles/colors" as *;
@use "sass:color";

.message {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  &__sender-content-block {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    &__sender {
      color: color.scale($font-color, $lightness: -20%);
      font-weight: 600;
      cursor: default;
    }

    &__reactions-block {
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;

      &__reaction {
        background-color: color.adjust(
          $background-color,
          $lightness: 15%,
          $alpha: -0.5
        );
        padding: 5px 10px;
        border: 1px solid
          color.adjust($background-color, $lightness: 35%, $alpha: -0.5);
        border-radius: 10px;
        cursor: pointer;
        color: $font-color;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      background-color: color.scale($color-hovered, $lightness: -80%);
    }
  }

  &__avatar {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    user-select: none;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    & text {
      padding: 10px;
      border-radius: 10px;
      background-color: color.scale($background-color, $lightness: 70%);
      width: fit-content;
    }
  }

  &__time {
    font-size: 12px;
    color: color.scale($font-color, $lightness: -40%);
    align-self: flex-start;
  }

  &__context-menu-container__reactions-block {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    max-width: 270px;
    overflow-x: auto;

    &__reaction {
      font-size: 20px;
    }
  }
}

.file-display {
  & > div {
    margin-left: 0px;
  }
}
