@use "@/shared/styles/colors" as *;
@use "sass:color";

.reactions-block {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;

  &__reaction {
    background-color: color.adjust(
      $background-color,
      $lightness: 15%,
      $alpha: -0.5
    );
    padding: 5px 10px;
    border: 1px solid
      color.adjust($background-color, $lightness: 35%, $alpha: -0.5);
    border-radius: 10px;
    cursor: pointer;
    color: $font-color;
  }
}
