@use "@/shared/styles/colors" as *;

.friends-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__header {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;

    &-title,
    &-badge {
      font-weight: 600;
      color: $font-color;
    }

    &-title {
      font-size: 1.2rem;
    }

    &-badge {
      font-size: 0.8rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
