@use "@/shared/styles/colors" as *;
@use "sass:color";

.message {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  &__sender-content-block {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    &__sender {
      color: color.scale($font-color, $lightness: -20%);
      font-weight: 600;
      cursor: default;
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;

      & text {
        padding: 10px;
        border-radius: 10px;
        background-color: color.scale($background-color, $lightness: 70%);
        width: fit-content;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      background-color: color.scale($color-hovered, $lightness: -80%);
    }

    &__new-messages {
      position: relative;
      display: flex;
      width: 100%;
      text-align: center;
      color: $font-color;

      &::after,
      &::before {
        content: "";
        align-self: center;
        flex: 1;
        border-top: 1px solid color.scale($color-hovered, $lightness: -40%);
        height: 1px;
        margin: 0 8px;
      }
    }
  }

  &__context-menu-container {
    &__reactions-block {
      display: flex;
      flex-flow: row nowrap;
      max-width: 270px;
      overflow-x: auto;

      &__reaction {
        font-size: 20px;
      }
    }
  }
}

.next-message-loader-block {
  width: 100%;
  text-align: center;
  color: color.scale($font-color, $lightness: -40%);

  &__loader {
    & span {
      border-bottom-color: $font-color;
    }
  }
}

.file-display {
  & > div {
    margin-left: 0px;
  }
}
