.my-profile {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  gap: 10px;

  &__info {
    align-self: center;

    &-name-input {
      width: 100%;
      max-width: 300px;
      font-size: 1.2rem;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
