@use "@/shared/styles/colors" as *;

.friend-card {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;

  &__avatar-wrapper {
    position: relative;
  }

  &__badge {
    position: absolute;
    bottom: -4px;
    right: -4px;
  }

  &__name-wrapper {
    position: relative;
  }

  &__unreaded-messages-badge {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, -10%);

    width: 10px;
    height: 17px;
    border-radius: 50%;
    background-color: $color-danger !important;
  }

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &__name {
    font-size: 0.9rem;
    font-weight: 600;
    color: $font-color;
  }

  &__status {
    font-size: 1rem;
    font-weight: 400;
  }
}
