@use "@/shared/styles/colors" as *;
@use "sass:color";

$radius: 10px;

.friend-chat-audio-and-video-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  background-color: color.adjust($background-color, $lightness: 5%);
  border-radius: $radius;

  &__audio-or-video {
    width: 100%;
    height: 100%;
    background-color: color.adjust($background-color, $lightness: 5%);
    border-radius: $radius;

    &__caller-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }

  &__actions {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;

    &-button {
      background-color: color.adjust($background-color, $lightness: 20%);

      &:has(> .friend-chat-audio-and-video-block__actions-icon__danger) {
        background-color: color.adjust($color-danger, $lightness: -40%);
      }
    }

    &-icon {
      min-width: 25px;

      &__danger {
        min-width: 25px;
        color: color.adjust($color-danger, $lightness: -20%);
      }
    }
  }
}
