@use "@/shared/styles/colors.scss" as *;
@use "sass:color";

.file-display {
  &-container {
    position: relative;
  }

  &__download-button {
    position: absolute;
    background-color: color.adjust($font-color, $lightness: -40%);
    bottom: 0;
    left: 0;
    transform: scale(0.7) translate(110%, 70%);
  }
}
